# Ignore node_modules directory
node_modules/

# Ignore the generated CSS files in the dist directory
dist/css/

# Ignore logs and OS specific files
*.log
.DS_Store
Thumbs.db

# Ignore package-lock.json or yarn.lock if using npm/yarn
package-lock.json
yarn.lock
